{% load static%}
<html>
<head>
    <title>Blog of Ulugbek</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Qahiri&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <header>
        <div class="nav-left">
            <h1><a href="{% url 'home' %}">Save your thoughts!</a> </h1>
        </div>
        <div class="nav-right">
            <a href="{% url 'post_new' %}"> + New Blog Post</a>
        </div>
    </header>
    {% if user.is_authenticated %}
    <p>Good day {{ user.username }}</p>
    <p><a href="{% url 'logout' %}">Log out</a> </p>
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <p> </p>
    <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    {% block content %}
    {% endblock content%}
</div>

</body>
</html>